<!DOCTYPE html>
<html>
<head>
    <title>Airplane Form</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <style>
        body {
            background-color: #c0c0c0;
            background-image: url('https://i.insider.com/5b7a35d43cccd11f008b456e?width=750&format=jpeg&auto=webp');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="window" style="margin: auto; width: 300px; height: 300px;">
        <div class="title-bar">
            <div class="title-bar-text"><b>"Air Spavochnik"</b></div>
        </div>
        <hr>
        <div style="display: flex; justify-content: space-around;">
            <a href="/planes"><button>Planes</button></a>
            <a href="/airlines"><button>Airlines</button></a>
        </div>
        <hr>
        <p style="text-align: center; font-size: 1.2em;">
            Выполнил студент 4 группы 4 курса <br>
            <b>Олешко Владислав </b> <br>
            Бекенд на Python + Fastapi <br>
            Визуальный шедевр - html и css <br>
        </p>
        <hr>
        
    </div>
</body>